section {
  /* margin-top: 239px; */
  color: #fff;
  /* display: flex; */
  font-style: normal;
  font-family: "Lato", "Open Sans", sans-serif;
}

.header__p {
  margin-top: 239px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.search__section h1 {
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  text-align: center;
}

.homelists__h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #0d263b;
}

.homelists__p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #696969;
  margin-top: 10px;
}
